{% from '_macros_lists.html' import doc_list, family_list, person_list  %}

{% macro doc_list(documents, flags = {}, ref = '') -%}
{{ flags }}
<table width="100%">
        {% for document in documents %}
        {% set document_id = document['document.id'] %}
        <tr>
                <td>
                <form action="/documents/{{document_id}}" target="_blank">
                        <button>Открыть</button>
                </form>
                
                {% if flags.person=='edit_person' and flags.document!='add_document' %}
                <form method="post">
                        <input type="hidden"  name="action" value="delete_document_from_person" />
                        <input type="hidden"  name="delete_document_from_person" value="{{document_id}}" />
                        <input type="submit" value = "Удалить"></button>
                </form>
                <input type="button" value="Ред." onclick="location.href='?{{ ref }}&edit_document={{document_id}}';">
                <form method="post">
                        <input type="hidden"  name="action" value="set_dul" />
                        <input type="hidden"  name="set_dul" value="{{document_id}}" />
                        <input type="submit" value = "ДУЛ"></button>
                </form>
                {% endif %}
                {% if flags.document=='add_document' %}
                <form method="post">
                        <input type="hidden"  name="action" value="add_document" />
                        <input type="hidden"  name="add_document" value="{{document_id}}" />
                        <input type="submit" value = "Выбрать"></button>
                </form>
                {% endif %}
                </td>
                <td> {{loop.index}} </td>
                {% for item in ['document_type.name', 'document.name', 'document.series', 'document.number', 'document.issuer', 'document.issue_date'] %}
                        <td> {{document[item]}} </td>
                {% endfor %}
        </tr>
        {% endfor %}
</table>
{%- endmacro %}

{% macro edit_doc(document_types,  flags={}, document = {}) -%}

{% set document_id = 0 if flags.document == 'create_document' else document['document.id'] %}
{{ flags }}

<h1> Документ </h1>
<form method="post" id="general">
        <input type="hidden"  name="action" value="{{ flags.document }}" />
        <input type="hidden"  name="{{ flags.document }}" value="{{ document_id }}" />

        <div>
                <label for="type_id" class="form-label">Тип документа:</label>
                <select name = "type_id" selected ="{{ document['document_type.name'] }}">
                        {% for t in document_types %}
                        <option value="{{ t['document_type.id'] }}" 
                                {% if flags.document != 'create_document' and t['document_type.id']==document['document.type_id'] %} 
                                        selected="selected" 
                                {% endif %}> 
                        {{ t['document_type.name'] }}  
                        </option>
                        {% endfor %}
                </select>
        </div>
        <div>
                <label for="lastname" class="form-label">Наименование:</label>
                <input type="text"  name="name" value = "{{ document['document.name'] }}">

                <label for="series" class="form-label">Серия:</label>
                <input type="text"  name="series" value = "{{ document['document.series'] }}">

                <label for="number" class="form-label">Номер:</label>
                <input type="text"  name="number"  value = "{{ document['document.number'] }}">
        </div>
        <div><label for="issuer" class="form-label">Выдан:</label></div>
        <div><textarea name = "issuer" rows = 2 cols = 100>{{ document['document.issuer'] }}</textarea> </div>
        <div>
                <label for="issue_date" class="form-label">Дата выдачи:</label> 
                <input type="date"  name="issue_date" value = "{{ document['document.issue_date'] }}">
        </div>
        <div><label for="comment" class="form-label">Комментарий:</label> </div>
        <div><textarea name = "comment" rows = 2 cols = 100>{{ document['document.comment'] }}</textarea></div>
        <div><label for="attributes" class="form-label">Атрибуты:</label> </div>
        <div><textarea name = "attributes" rows = 2 cols = 100>{{ document['document.attributes'] }}</textarea> </div>
        <input type="submit"></button>
</form>


{%- endmacro %}

{% macro edit_person(flags={}, person = {}, context = {}) -%}

{% set person_id = 0 if flags.person == 'create_person' else person['person.id'] %}

<h1> Персональные данные </h1>
<form method="post" id="general">
        {% if flags.person!="edit_person" and flags.person!="create_person" %} <fieldset disabled> {% endif %}
        <input type="hidden"  name="action" value="{{ flags.person }}" />
        <input type="hidden"  name="{{ flags.person }}" value="{{ person_id }}" />

        <label for="lastname" class="form-label">Фамилия:</label>
        <input type="text"  name="lastname" value = "{% if flags.person!=create_person %}{{ person['person.lastname'] }}{% endif %}">

        <label for="firstname" class="form-label">Имя:</label>
        <input type="text"  name="firstname" value = "{% if flags.person!=create_person %}{{ person['person.firstname'] }}{% endif %}">

        <label for="secondname" class="form-label">Отчество:</label>
        <input type="text"  name="secondname"  value = "{% if flags.person!=create_person %}{{ person['person.secondname'] }}{% endif %}">

        <label for="birthdate" class="form-label">Дата рождения:</label>
        <input type="date"  name="birthdate" value = "{% if flags.person!=create_person %}{{ person['person.birthdate'] }}{% endif %}">
        
        {% if flags.family == "edit_family" %}
        <label for="role" class="form-label">Роль:</label>
        <input type="text"  name="role" value = "{% if flags.person!=create_person %}{{ person['family_person.role'] }}{% endif %}">
        {% endif %}

        <input type="submit"></button>
        {% if flags.person!="edit_person" %} </fieldset> {% endif %}
</form>

{% if flags.person!='create_person' %}

<h1> Документ удостоверяющий личность </h1>

{% if person['person.passport_id'] == 0 %}

<div> Не обнаружен. </div>

{% else %}

<div> Тип: {{ person['passport_type.name'] }} </div>
<div> Серия: {{ person['passport.series'] }} </div>
<div> Номер: {{ person['passport.number'] }} </div>
<div> Выдан: {{ person['passport.issuer'] }} </div>
<div> Дата выдачи: {{ person['passport.issue_date'] }} </div>

{% endif %}

{% set ref = ""%}
{% if flags.family=="edit_family" %}
{% set ref = "edit_person=" + person['person.id']|string %}
{% endif %}

<h1> Документы </h1>
{{ doc_list(context.documents, flags, ref) }}

{% if 'document' not in flags %}

<input type="button" value="Добавить существующий документ" onclick="location.href='?{{ ref }}&doc_action=add_document';"> 
<input type="button" value="Добавить новый документ" onclick="location.href='?{{ ref }}&doc_action=create_document';">

{% else %}

<input type="button" value="Отмена" onclick="location.href='?{{ ref }}';"> 

{% endif %}

{% if flags.document=="add_document" %}

{{ doc_list(context.all_document, flags) }}
{% endif %}

{% if flags.document=="create_document" %}
{{ edit_doc(context.document_types, flags) }}
{% endif %}

{% if flags.document=="edit_document" %}
{{ edit_doc(context.document_types, flags, context.document_to_edit) }}
{% endif %}

{% if flags.family!="edit_family" %}
<h1> Список связанных групп заявителей </h1>
{{ family_list(flag='', families=context.linked_families) }}
{% endif %}
{% endif %}
{%- endmacro %}

{% macro person_list(flags = ['details'], persons = []) -%}
<table width = "100%">
    
        {% for person in persons %}
        <tr>
                <td {% if 'details' not in flags %} width="5%" {% endif %}> 
                        {% if 'choose' in flags %}
                        <form method="post">
                                <input type="hidden"  name="action" value="add_person_to_family" />
                                <input type="hidden"  name="add_person_to_family" value="{{person['person.id']}}" />
                                <input type="submit" value = "Выбрать"></button>
                        </form>
                        {% else %}
                        {% if 'fam_edit' in flags %}
                        <form method="post">
                                <input type="hidden"  name="action" value="delete_person_from_family" />
                                <input type="hidden"  name="delete_person_from_family" value="{{person['person.id']}}" />
                                <input type="submit" value = "Удалить"></button>
                        </form>
                        {% set person_id = person['person.id'] %}
                        <input type="button" value="Ред." onclick="location.href='?edit_person={{person_id}}';">
                        {% else %}
                        {{loop.index}} 
                        {% endif %} 
                        {% endif %}
                </td>
                <td {% if 'details' not in flags %} width="60%" {% endif %}> 
                        <a href="/persons/{{person['person.id']}}">
                                {{person['person.lastname']}} 
                                {{person['person.firstname']}} 
                                {{person['person.secondname']}} 
                                {% if ('fam_list' in flags or 'fam_edit' in flags) and person['family_person.role'] != '' %} ({{ person['family_person.role']}}) {% endif %}
                        </a> 
                </td>
                <td {% if 'details' not in flags %} width="15%" {% endif %}> 
                        {{ person['person.birthdate'] }} 
                </td>
                <td {% if 'details' not in flags %} width="20%" {% endif %}> 
                        <a href="/documents/{{person['person.passport_id']}}"> {{person['passport.series']}} {{person['passport.number']}} </a> 
                </td>
                {% if 'details' in flags %}
                <td> {{ person['passport.issuer'] }} </td>
                <td> {{ person['passport.issue_date'] }} </td>
                <td> <a href="/houses/{{person['person.house_reg_id']}}"> {{person['house_r.prefix']}} {{person['house_r.street']}} {{person['house_r.house']}}-{{person['house_r.flat']}} </a> </td>
                <td> <a href="/houses/{{person['person.house_res_id']}}"> {{person['house_f.prefix']}} {{person['house_f.street']}} {{person['house_f.house']}}-{{person['house_f.flat']}} </a> </td>
                {% endif %}
        </tr>
        {% endfor %}
    </table>

{%- endmacro %}

{% macro family_list(flag = '', families = []) -%}
<table>
    
        {% for family in families %}
        <tr>
                <td> {{ loop.index }} </td>
                <td> 
                        <form action="/families/{{ family['family.id'] }}" target="_blank">
                                <button>Открыть</button>
                        </form>
                </td>
                <td> {{ family['family_type.name']}} </td>
                <td> {{ person_list(['fam_list'], family['persons']) }} </td>
        </tr>
        {% endfor %}
    </table>

{%- endmacro %}


    