<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Формы в React</title>
</head>
<body>
    <div id="app"></div>
        
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        
    <script type="text/babel">
    class UserForm extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
            name: "",
            aaaa: ""
        };
   
        this.onChange = this.onChange.bind(this);
        this.handleSubmit = this.handleSubmit.bind(this);
      }
      onChange(e) {
        var val = e.target.value;
        var tar = e.target.id;
        this.setState({...this.state,
                        [tar]: val});
    }
   
      handleSubmit(e) {
        e.preventDefault();
        alert("Имя: " + this.state.name + this.state.aaaa);
      }
   
      render() {
        return (
            <form onSubmit={this.handleSubmit}>
                <p>
                    <label>Имя:</label><br />
                    <input type="text" id="name" value={this.state.name} onChange={this.onChange}/>
                </p>
                <p>
                    <label>Имя:</label><br />
                    <input type="text" id="aaaa" value={this.state.aaaa} onChange={this.onChange}/>
                </p>
                <input type="submit" value="Отправить" />
            </form>
        );
      }
    }
    ReactDOM.createRoot(
        document.getElementById("app")
    )
    .render(
        <UserForm />
    );
    </script>
</body>
</html>