{% from '_macros_lists.html' import doc_list, family_list, house_list, person_list  %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='styles2.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="header">
            <h1>HdCat2</h1>
            <div id="nav">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/persons">Персоны</a></li>
                    <li><a href="/documents">Документы</a></li>
                    <li><a href="/houses">Жилые помещения</a></li>
                    <li><a href="#">О сайте</a></li>
                </ul>
            </div>
        </div>
        
        <div class="wrapper">
            <div id="sidebar1" class="aside">
                {% block bar %}
                {% endblock %}
            </div>
            <div id="article">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <p>Contacts: admin@mysyte.com</p>
            <p>Copyright © MySyte.com, 2016</p>
        </div>
    </body>
</html>