{% from '_macros_lists.html' import doc_list, family_list, house_list, person_list  %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='styles2.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="header">
            <h1>HdCat2</h1>
            <p> Добро пожаловать, 
                {% if current_user.is_authenticated %}
                {{current_user.data.lastname}} {{current_user.data.firstname}} {{current_user.data.secondname}}! (<a href="/logout"> Выйти </a>)
                {% else %} 
                Гость! <a href="/login"> (Войти) </a>
                {% endif %}
            </p>
            <div id="nav">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/claims">Заявления</a></li>
                    <li><a href="/persons">Персоны</a></li>
                    <li><a href="/documents">Документы</a></li>
                    <li><a href="/houses">Жилые помещения</a></li>
                    <li><a href="#">Запросы</a></li>
                </ul>
            </div>
        </div>
        
        <div class="wrapper">
            <div id="sidebar1">
                {% block bar %}
                {% endblock %}
            </div>
            <div id="article">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
        </div>
    </body>
</html>