{% extends 'base.html' %}

{% block title %}Заявления{% endblock %}

{% block bar %}
<div>
    <details>
        <summary>Меню</summary>
        <ul>
        </ul>
    </details>
</div>

{% endblock %}

{% block content %}
<table width="100%">
    {% for claim in claims.values() %}
    <tr>
        <td>{{loop.index}}</td>
        <td> <a href="/editor?edit_family={{claim['claim.family_id']}}&edit_claim={{ claim['claim.id'] }}&claim_type={{ claim['claim.type_id'] }}">{{claim['claim_type.name']}}</a>  </td>
        {% set cathegories = claim['claim.cathegories'].split('$') %}
        <td> 
            {% for cathegory in cathegories %}
                <div> {{ cathegory }} </div>
            {% endfor %}
        </td>
        <td> {{claim['claim.date_time']}} </td>
        <td> {{claim['claim_response.name']}} </td>
        <td>
            {% for person in claim['persons'].values() %}
            <div>
            <a href="/editor?edit_person={{person['person.id']}}">
                {{person['person.lastname']}} 
                {{person['person.firstname']}} 
                {{person['person.secondname']}} 
                ({{person['person.birthdate']}})
                {% if person['family_person.role'] != '' %} - {{ person['family_person.role']}} {% endif %}
                {% if person['person.id']|string == claim['claim.person_id']|string %} (заявитель) {% endif %}
            </a> 
            </div>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
