{% extends 'base.html' %}

{% block title %}Документ{% endblock %}

{% block content %}  


<div id="document_id" hidden>{{ document_id }}</div>

<script type="text/babel">
  const document_id = document.getElementById("document_id").textContent

  const rootNode = document.getElementById("app");    // элемент для рендеринга приложения React
  // получаем корневой элемент 
  const root = ReactDOM.createRoot(rootNode);

  const p = new Promise(function(resolve, reject){
      return resolve(make_request("get_document/" + document_id));
  }).then(document => {
      root.render(
          <DocumentApp document={document}/>
      );
  })
</script>

{% endblock %}
