{% extends 'base.html' %}

{% block title %}Документы{% endblock %}

{% block content %}


<script type="text/babel">

    const rootNode = document.getElementById("app");    // элемент для рендеринга приложения React
    // получаем корневой элемент 
    const root = ReactDOM.createRoot(rootNode);

    const p = new Promise(function(resolve, reject){
        return resolve(make_request("get_documents"));
    }).then(documents => {
        root.render(
            <div>
                <NavBar name={"Документы"}/>
                <DocumentTable documents={documents}/> 
            </div>
        );
    })
</script>

{% endblock %}
