{% extends 'base.html' %}

{% block title %}Редактор{% endblock %}

{% block bar %}

<h1> Меню </h1>

<a href="javascript:void(0)" onclick="window.location.reload()">Обновить</a>

{% endblock %}

{% block content %}

{# РЕДАКТОР СЕМЕЙ #}
{% if 'create_family' in args or 'edit_family' in args %} 

{% set action = 'create_family' if 'create_family' in args else 'edit_family' %}

    <div class="edit_box">

    <form method="post" name="edit_family">
        <input type="hidden"  name="action" value="{{action}}" />

        <label for="type_id" class="form-label">Тип Семьи:</label>
        <select name = "type_id">
                {% for t in context.family.family_types.values() %}
                <option value="{{ t['family_type.id'] }}" 
                    {% if 'edit_family' in args and t['family_type.id']==context.family.family['family.type_id'] %} 
                    selected="selected" 
                    {% endif %}> 
                    {{ t['family_type.name'] }}  
                </option>
                {% endfor %}
        </select>
        <input type="submit"></button>
    </form>

    {# ПЕРСОНЫ ВНУТРИ СЕМЬИ #}
    {% if 'edit_family' in args %} 

    <h1> Члены группы заявителей </h1>
    <table width = "100%">
        {% for person in context.family.persons.values() %}
        <tr>
            <td> 
                {% set person_id = person['person.id'] %}
                <form method="post" class="btn_form" action="?edit_family={{ args.edit_family }}&delete_person_from_family={{ person_id }}">
                    <input type="hidden"  name="action" value="delete_person_from_family" />
                    <input type="submit" value = "Искл."></button>
                </form>
                <input type="button" value="Ред." onclick="location.href='?edit_family={{ args.edit_family }}&edit_person={{person_id}}';">
            </td>
            <td>
                {{loop.index}} 
            </td>
            <td> 
                <a href="/editor?edit_person={{person['person.id']}}">
                    {{person['person.lastname']}} 
                    {{person['person.firstname']}} 
                    {{person['person.secondname']}} 
                    {% if person['family_person.role'] != '' %} ({{ person['family_person.role']}}) {% endif %}
                </a> 
            </td>
            <td> {{ person['person.birthdate'] }} </td>
            <td> <a href="/editor?edit_document={{person['person.passport_id']}}"> {{person['passport.series']}} {{person['passport.number']}} </a> </td>
            <td> {{ person['passport.issuer'] }} </td>
            <td> {{ person['passport.issue_date'] }} </td>
        </tr>
        {% endfor %}
    </table>

    <input type="button" value="Добавить существующую персону" onclick="location.href='?edit_family={{ args.edit_family }}&add_person_to_family';"> 
    <input type="button" value="Добавить новую персону" onclick="location.href='?edit_family={{ args.edit_family }}&create_person';">
    
    <h1>Заявления:</h1>
    <table width="100%">
        <tr>
            <td></td>
            <td>#</td>
            <td>Тип</td>
            <td>Категории</td>
            <td>Дата и время</td>
            <td>Ответ</td>
            <td>Заявитель</td>
        </tr>
        {% for claim in context.family.claims.values() %}
        <tr>
            <td>
            
            <form method="post" class="btn_form" action="?edit_family={{ args.edit_family }}&delete_claim={{ claim['claim.id'] }}">
                <input type="hidden"  name="action" value="delete_claim" />
                <input type="submit" value = "Удалить"></button>
            </form>
            </td>
            <td>{{loop.index}}</td>
            <td> <a href="/editor?edit_family={{claim['claim.family_id']}}&edit_claim={{ claim['claim.id'] }}&claim_type={{ claim['claim.type_id'] }}">{{claim['claim_type.name']}}</a>  </td>
            {% set cathegories = claim['claim.cathegories'].split('$') %}
            <td> 
                {% for cathegory in cathegories %}
                    <div> {{ cathegory }} </div>
                {% endfor %}
            </td>
            <td> {{claim['claim.date_time']}} </td>
            <td> {{claim['claim_response.name']}} </td>
            <td>
                {{claim['person.lastname']}} {{claim['person.firstname']}} {{claim['person.secondname']}} ({{claim['person.birthdate']}})
            </td>
        </tr>
        {% endfor %}
    </table>

    <input type="button" value="Добавить новое заявление" onclick="location.href='?edit_family={{ args.edit_family }}&create_claim';"> 

    {% endif %} 
    {# КОНЕЦ ПЕРСОН ВНУТРИ СЕМЬИ #}

    </div>
{% endif %} 
{# КОНЕЦ РЕДАКТОРА СЕМЕЙ #}

{# ДОБАВЛЯТЕЛЬ ПЕРСОН #}
{% if 'add_person_to_family' in args %} 

    <input type="button" value="Закрыть" onclick="location.href='?edit_family={{ args.edit_family }}';"> 

    <table width = "100%">
        {% for person in context.person.all_persons.values() %}
        <tr>
            <td> 
                {% set person_id = person['person.id'] %}
                <form method="post" class="btn_form" action = "?edit_family={{ args.edit_family }}&add_person_to_family={{person_id}}">
                    <input type="hidden"  name="action" value="add_person_to_family" />
                    <input type="submit" value = "Выбрать"></button>
                </form>
            </td>
            <td>
                {{loop.index}} 
            </td>
            <td> 
                <a href="/editor?edit_person={{person['person.id']}}">
                    {{person['person.lastname']}} 
                    {{person['person.firstname']}} 
                    {{person['person.secondname']}} 
                </a> 
            </td>
            <td> {{ person['person.birthdate'] }} </td>
            <td> <a href="/editor?edit_document={{person['person.passport_id']}}"> {{person['passport.series']}} {{person['passport.number']}} </a> </td>
            <td> {{ person['passport.issuer'] }} </td>
            <td> {{ person['passport.issue_date'] }} </td>
        </tr>
        {% endfor %}
    </table>

{% endif %}
{# КОНЕЦ ДОБАВЛЯТЕЛЬ ПЕРСОН #}

{# РЕДАКТОР ПЕРСОН #}
{% if 'create_person' in args or 'edit_person' in args %} 

    {% set ref = "edit_family=" + args.edit_family|string if "edit_family" in args else "" %}

    {% if 'edit_family' in args  %}
    <input type="button" value="Закрыть" onclick="location.href='?edit_family={{ args.edit_family }}';"> 
    {% endif %}

    {% set person = {} if 'create_person' in args else context.person.person %}
    {% set action = 'create_person' if 'create_person' in args else 'edit_person' %}

    <div class="edit_box">
    <h1> Персональные данные </h1>

    <form method="post" id="general">
        <input type="hidden"  name="action" value="{{action}}" />
        
        <label for="lastname" class="form-label">Фамилия:</label>
        <input type="text"  name="lastname" value = "{% if 'edit_person' in args %}{{ person['person.lastname'] }}{% endif %}">

        <label for="firstname" class="form-label">Имя:</label>
        <input type="text"  name="firstname" value = "{% if 'edit_person' in args %}{{ person['person.firstname'] }}{% endif %}">

        <label for="secondname" class="form-label">Отчество:</label>
        <input type="text"  name="secondname"  value = "{% if 'edit_person' in args %}{{ person['person.secondname'] }}{% endif %}">

        <label for="birthdate" class="form-label">Дата рождения:</label>
        <input type="date"  name="birthdate" value = "{% if 'edit_person' in args %}{{ person['person.birthdate'] }}{% endif %}">
            
        {% if "edit_family" in args %}
        <label for="role" class="form-label">Роль:</label>
        <input type="text"  name="role" value = "{% if 'edit_person' in args %}{{ context.family.persons[person['person.id']]['family_person.role'] }}{% endif %}">
        {% endif %}

        <input type="submit"></button>
    </form>

    {% if 'edit_person' in args  %}
    <div>
        <div><b> Документ удостоверяющий личность </b></div>
        
        {% if person['person.passport_id'] == 0 %}

        <div> Не обнаружен. </div>

        {% else %}

        <div> Имя: {{ person['passport.name'] }} </div>
        <div> Тип: {{ person['passport_type.name'] }} </div>
        <div> Серия: {{ person['passport.series'] }} </div>
        <div> Номер: {{ person['passport.number'] }} </div>
        <div> Выдан: {{ person['passport.issuer'] }} </div>
        <div> Дата выдачи: {{ person['passport.issue_date'] }} </div>

        {% endif %}

        <div> <b> Адрес регистрации: </b>
        {% if person['person.house_reg_id'] == 0 %}

        Не обнаружен.

        {% else %}

        {{person['house_r.region']}}, {{ person['house_r.city']}}, 
        {{person['house_r.prefix']}} {{person['house_r.street']}} {{person['house_r.house']}}-{{person['house_r.flat']}}

        {% endif %}
        </div>

        <div> <b> Адрес фактического проживания: </b>
        {% if person['person.house_res_id'] == 0 %}
    
        Не обнаружен.
    
        {% else %}
    
        {{person['house_f.region']}}, {{ person['house_f.city']}},
        {{person['house_f.prefix']}} {{person['house_f.street']}} {{person['house_f.house']}}-{{person['house_f.flat']}}
            
        {% endif %}
        </div>
        
        <h1> Документы </h1>
        <table width="100%">
            {% for document in context.person.documents.values() %}
            {% set document_id = document['document.id'] %}
            <tr>
                <td>
                    <form action="/editor?edit_document={{document_id}}" target="_blank" class="btn_form">
                            <button>Открыть</button>
                    </form>
                    
                    <form method="post" class="btn_form" action="?{{ ref }}&edit_person={{ args.edit_person }}&delete_document_from_person={{document_id}}">
                        <input type="hidden"  name="action" value="delete_document_from_person" />
                        <input type="submit" value = "Удалить"></button>
                    </form>
                    <input type="button" value="Ред." onclick="location.href='?{{ ref }}&edit_person={{ args.edit_person }}&edit_document={{document_id}}';">
                    <form method="post" class="btn_form" action="?{{ ref }}&edit_person={{ args.edit_person }}&set_dul={{document_id}}">
                        <input type="hidden"  name="action" value="set_dul" />    
                        <input type="submit" value = "ДУЛ"></button>
                    </form>
                </td>
                <td> {{loop.index}} </td>
                {% for item in ['document_type.name', 'document.name', 'document.series', 'document.number', 'document.issuer', 'document.issue_date'] %}
                        <td> {{document[item]}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="button" value="Добавить существующий документ" onclick="location.href='?{{ ref }}&edit_person={{args.edit_person}}&add_document';"> 
        <input type="button" value="Добавить новый документ" onclick="location.href='?{{ ref }}&edit_person={{args.edit_person}}&create_document';">

    </div>
    <h1> Связанные жилые помещения </h1>
    <table width="100%">
        {% for house in context.person.houses.values() %}
        <tr> 
            <td>
            <form method="post" class="btn_form" action="?{{ ref }}&edit_person={{ args.edit_person }}&delete_house_from_person={{house['person_house_relation.id']}}">
                <input type="hidden"  name="action" value="delete_house_from_person" />
                <input type="submit" value = "Удалить"></button>
            </form>
            <form method="post" class="btn_form" action="?{{ ref }}&edit_person={{ args.edit_person }}&set_reg={{house['house.id']}}">
                <input type="hidden"  name="action" value="set_reg" />    
                <input type="submit" value = "Рег."></button>
            </form>
            <form method="post" class="btn_form" action="?{{ ref }}&edit_person={{ args.edit_person }}&set_fact={{house['house.id']}}">
                <input type="hidden"  name="action" value="set_fact" />    
                <input type="submit" value = "Факт."></button>
            </form>
            <form method="post" action="?{{ ref }}&edit_person={{ args.edit_person }}&edit_person_house_relation={{house['person_house_relation.id']}}">
            <input type="hidden"  name="action" value="edit_person_house_relation" />
            <td>
                <a href="editor?edit_house={{house['house.id']}}">
                {{ house['house.region'] }}, {{ house['house.city'] }}, {{ house['house.prefix'] }} {{ house['house.street'] }}
                {{ house['house.house'] }}-{{ house['house.flat'] }} 
                </a> 
            </td>
            <td>
                <label for="type_id" class="form-label">Статус:</label>
                <select name = "type_id">
                    {% for t in context.person.house_relation_types.values() %}
                    <option value="{{ t['person_house_relation_type.id'] }}" 
                        {% if t['person_house_relation_type.id']==house['person_house_relation.type_id'] %} 
                            selected="selected" 
                        {% endif %}> 
                    {{ t['person_house_relation_type.name'] }}  
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <label for="date_of_start" class="form-label">С момента:</label>
                <input type="date"  name="date_of_start" value = "{{ house['person_house_relation.date_of_start']  }}">

            </td>
            <td>
                <select name = "actual">
                    <option value="1" 
                        {% if  house['person_house_relation.actual'] == '1' %} selected="selected" {% endif %}> Актуально
                    </option>
                    <option value="0" 
                        {% if house['person_house_relation.actual'] == '0' %} selected="selected" {% endif %}> Неактуально
                    </option>
                </select>
            </td>
            <td>
                <label for="date_of_finish" class="form-label">До момента:</label>
                <input type="date"  name="date_of_finish" value = "{{ house['person_house_relation.date_of_finish']  }}">

            </td>
            <td>
                <input type="submit"></button>
            </td>
            </form>   
        </tr>
        {% endfor %}
    </table>
    <input type="button" value="Добавить существующее ж/п" onclick="location.href='?{{ ref }}&edit_person={{args.edit_person}}&add_person_house_relation';"> 
    <input type="button" value="Добавить новое ж/п" onclick="location.href='?{{ ref }}&edit_person={{args.edit_person}}&create_house';">
    
    {% if 'add_person_house_relation' in args %}
        <input type="button" value="Закрыть" onclick="location.href='?{{ ref }}&edit_person={{args.edit_person}}';"> 
    
        <table width = "100%">
            {% for house in context.house.all_houses.values() %}
            <tr>
                <td> 
                    {% set house_id = house['house.id'] %}
                    <form method="post" class="btn_form" action = "?{{ ref }}&edit_person={{args.edit_person}}&add_person_house_relation={{house_id}}">
                        <input type="hidden"  name="action" value="add_person_house_relation" />
                        <input type="submit" value = "Выбрать"></button>
                    </form>
                </td>
                <td>
                    {{loop.index}} 
                </td>
                <td> 
                    <a href="editor?edit_house={{house['house.id']}}">
                        {{ house['house.region'] }}, {{ house['house.city'] }}, {{ house['house.prefix'] }} {{ house['house.street'] }}
                        {{ house['house.house'] }}-{{ house['house.flat'] }} 
                    </a> 
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    {% endif %}

</div>

{% endif %}
{# КОНЕЦ РЕДАКТОРА ПЕРСОН #}


{# РЕДАКТОР ДОМОВ #}
{% if "edit_house" in args or "create_house" in args %}
<div class="edit_box">
    <h1> Дом </h1>
    {% set house = context.house.house if 'create_house' not in args else {} %}
    {% set action = 'create_house' if 'create_house' in args else "edit_house" %}
    <form method="post" id="general">
        <input type="hidden"  name="action" value="{{action}}" />
        <div>
        <label for="region" class="form-label">Регион:</label>
        <input type="text"  name="region" value = "{% if 'edit_house' in args %}{{ house['house.region'] }} {% else %}Алтайский Край{% endif %}">

        <label for="city" class="form-label">Город:</label>
        <input type="text"  name="city" value = "{% if 'edit_house' in args %}{{ house['house.city'] }} {% else %}г. Бийск{% endif %}">
        </div>
        <div>
        <label for="prefix" class="form-label">Префикс:</label>
        <input type="text"  name="prefix"  value = "{% if 'edit_house' in args %}{{ house['house.prefix'] }}{% endif %}">

        <label for="street" class="form-label">Улица:</label>
        <input type="text"  name="street"  value = "{% if 'edit_house' in args %}{{ house['house.street'] }}{% endif %}">
        
        <label for="house" class="form-label">Дом:</label>
        <input type="text"  name="house"  value = "{% if 'edit_house' in args %}{{ house['house.house'] }}{% endif %}">

        <label for="flat" class="form-label">Квартира:</label>
        <input type="text"  name="flat"  value = "{% if 'edit_house' in args %}{{ house['house.flat'] }}{% endif %}">

        <label for="area" class="form-label">Площадь:</label>
        <input type="text"  name="area" value = "{% if 'edit_house' in args %}{{ house['house.area'] }}{% endif %}">
        </div>
        <div><label for="comment" class="form-label">Комментарий:</label> </div>
        <div><textarea name = "comment" rows = 2 cols="100">{% if 'edit_house' in args %}{{ house['house.comment'] }}{% endif %}</textarea></div>
        <input type="submit"></button>
    </form>

    {% if "edit_house" in args %}
    <div>
        <h1> Статусы </h1>
        {% for status in context.house.statuses.values() %}                        
        <div>
            {{ status['house_status_type.name'] }} с {{ status['house_status.date_of_status'] }}
            {% if status['house_status.actual'] == '1' %} актуален {% else %} по {{ status['house_status.date_of_cancel']}} {% endif %}
            ( {{ status['house_status.comment'] }} ) - <a href="?edit_house={{ house['house.id'] }}&edit_status_of_house={{ status['house_status.id'] }}">Ред.</a>
        </div>
        {% endfor %}
        <input type="button" value="Добавить Новый статус" onclick="location.href='?edit_house={{args.edit_house}}&add_status_of_house';"> 
        
        {% if 'add_status_of_house' in args or 'edit_status_of_house' in args%}
        <input type="button" value="Закрыть" onclick="location.href='?edit_house={{args.edit_house}}';"> 
        <div clas="edit_box">
            {% set action = 'add_status_of_house' if 'add_status_of_house' in args else "edit_status_of_house" %}
            {% set status = context.house.statuses[args.edit_status_of_house|int] if 'add_status_of_house' not in args else {} %}
            {{ status }}
            <form method="post" id="general">
                <input type="hidden"  name="action" value="{{action}}" />
                <div>
                <label for="type_id" class="form-label">Статус:</label>
                <select name = "type_id">
                    {% for t in context.house.status_types.values() %}
                    <option value="{{ t['house_status_type.id'] }}" 
                        {% if 'edit_status_of_house' in args and t['house_status_type.id']==status['house_status.type_id'] %} 
                            selected="selected" 
                        {% endif %}> 
                    {{ t['house_status_type.name'] }}  
                    </option>
                    {% endfor %}
                </select>
                <label for="date_of_status" class="form-label">Дата статуса:</label>
                <input type="date"  name="date_of_status" value = "{{ status['house_status.date_of_status']  }}">
                <select name = "actual">
                    <option value="1" 
                        {% if 'edit_status_of_house' in args and status['house_status.actual'] == '1' %} selected="selected" {% endif %}> Актуально
                    </option>
                    <option value="0" 
                        {% if 'edit_status_of_house' in args and status['house_status.actual'] == '0' %} selected="selected" {% endif %}> Неактуально
                    </option>
                </select>
                <label for="date_of_cancel" class="form-label">Дата снятия статуса:</label>
                <input type="date"  name="date_of_cancel" value = "{% if 'edit_status_of_house' in args %}{{ status['house_status.date_of_cancel'] }}{% endif %}">
                </div>
                <div><label for="comment" class="form-label">Комментарий:</label> </div>
                <div><textarea name = "comment" rows = 2 cols="100">{% if 'edit_status_of_house' in args %}{{ status['house_status.comment'] }}{% endif %}</textarea></div>
                <input type="submit"></button>
            </form>
        </div>
        {% endif %}

        <h1> Связанные персоны </h1>
        <table width="100%">
            {% for key, person in context.house.persons.items() %}
            <tr> 
                <form method="post" action="?edit_house={{ args.edit_house }}&edit_person_house_relation={{person['person_house_relation.id']}}">
                <input type="hidden"  name="action" value="edit_person_house_relation" />
                <td>
                    <a href="editor?edit_person={{person['person.id']}}">
                    {{ person['person.lastname'] }} {{ person['person.firstname'] }} {{ person['person.secondname'] }}
                    </a> 
                </td>
                <td> {{ person['person.birthdate'] }} </td>
                <td> <a href="/editor?edit_document={{person['person.passport_id']}}"> {{person['passport.series']}} {{person['passport.number']}} </a> </td>
                <td>
                    <label for="type_id" class="form-label">Статус:</label>
                    <select name = "type_id">
                        {% for t in context.house.person_relation_types.values() %}
                        <option value="{{ t['person_house_relation_type.id'] }}" 
                            {% if t['person_house_relation_type.id']==person['person_house_relation.type_id'] %} 
                                selected="selected" 
                            {% endif %}> 
                        {{ t['person_house_relation_type.name'] }}  
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <label for="date_of_start" class="form-label">С момента:</label>
                    <input type="date"  name="date_of_start" value = "{{ person['person_house_relation.date_of_start']  }}">

                </td>
                <td>
                    <select name = "actual">
                        <option value="1" 
                            {% if  person['person_house_relation.actual'] == '1' %} selected="selected" {% endif %}> Актуально
                        </option>
                        <option value="0" 
                            {% if person['person_house_relation.actual'] == '0' %} selected="selected" {% endif %}> Неактуально
                        </option>
                    </select>
                </td>
                <td>
                    <label for="date_of_finish" class="form-label">До момента:</label>
                    <input type="date"  name="date_of_finish" value = "{{ person['person_house_relation.date_of_finish']  }}">

                </td>
                <td>
                    <input type="submit"></button>
                </td>
                </form>   
            </tr>
            {% endfor %}
        </table>

        <input type="button" value="Добавить существующую персону" onclick="location.href='?edit_house={{args.edit_house}}&add_person_house_relation';"> 


        {% if 'add_person_house_relation' in args %}
        <input type="button" value="Закрыть" onclick="location.href='?edit_house={{args.edit_house}}';"> 
    
        <table width = "100%">
            {% for person in context.person.all_persons.values() %}
            <tr>
                <td> 
                    {% set person_id = person['person.id'] %}
                    <form method="post" class="btn_form" action = "?edit_house={{args.edit_house}}&add_person_house_relation={{person_id}}">
                        <input type="hidden"  name="action" value="add_person_house_relation" />
                        <input type="submit" value = "Выбрать"></button>
                    </form>
                </td>
                <td>
                    {{loop.index}} 
                </td>
                <td> 
                    <a href="/editor?edit_person={{person['person.id']}}">
                        {{person['person.lastname']}} 
                        {{person['person.firstname']}} 
                        {{person['person.secondname']}} 
                    </a> 
                </td>
                <td> {{ person['person.birthdate'] }} </td>
                <td> <a href="/editor?edit_document={{person['person.passport_id']}}"> {{person['passport.series']}} {{person['passport.number']}} </a> </td>
                <td> {{ person['passport.issuer'] }} </td>
                <td> {{ person['passport.issue_date'] }} </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    
        <div>
            <h1>Документы</h1>
            <table width="100%">
                {% for document in context.house.documents.values() %}
                {% set document_id = document['document.id'] %}
                <tr>
                    <td>                    
                        <form method="post" class="btn_form" action="?edit_house={{ args.edit_house }}&delete_document_from_house={{document_id}}">
                            <input type="hidden"  name="action" value="delete_document_from_house" />
                            <input type="submit" value = "Удалить"></button>
                        </form>
                        <input type="button" value="Ред." onclick="location.href='?edit_house={{ args.edit_house }}&edit_document={{document_id}}';">
                    </td>
                    <td> {{loop.index}} </td>
                    {% for item in ['document_type.name', 'document.name', 'document.series', 'document.number', 'document.issuer', 'document.issue_date'] %}
                            <td> {{document[item]}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <input type="button" value="Добавить существующий документ" onclick="location.href='?edit_house={{args.edit_house}}&add_document';"> 
        <input type="button" value="Добавить новый документ" onclick="location.href='?edit_house={{args.edit_house}}&create_document';">
    </div>
    {% endif %}

</div>
{% endif %}
{# КОНЕЦ РЕДАКТОР ДОМОВ #}

{# РЕДАКТОР КЛАЙМОВ #}
{% if 'edit_claim' in args or 'create_claim' in args %}
<div class="edit_box">
    <h1> Заявление </h1>
    <form method="get">
    <input type="hidden" name="edit_family" value = "{{ args.edit_family }}">
    {% if 'edit_claim' in args %} <input type="hidden" name="edit_claim" value = "{{ args.edit_claim }}"> {% endif %}
    {% if 'create_claim' in args %} <input type="hidden" name="create_claim"> {% endif %}
    <select name = "claim_type">
        {% for t in context.claim.claim_types.values() %}
        <option value="{{ t['claim_type.id'] }}"
            {% if 'claim_type' in args and t['claim_type.id']|string==args['claim_type']|string %} 
                selected="selected" 
            {% endif %}> 
            {{ t['claim_type.name'] }}  
        </option>
        {% endfor %}
        <input type="submit" value="Выбрать"></button>
    </select>
    </form>
    {% if 'claim_type' in args %}
    {% set cathegories = context.claim.claim['claim.cathegories'].split('$') if 'edit_claim' in args %}
    {% set ref112 = 'create_claim' if 'create_claim' in args else 'edit_claim='+args.edit_claim|string %}
    <form method="post" action="?edit_family={{ args.edit_family }}&claim_type={{args.claim_type}}&{{ref112}}">
        {% if 'edit_claim' in args %} <input type="hidden" name="action" value = "edit_claim"> {% endif %}
        {% if 'create_claim' in args %} <input type="hidden" name="action" value = "create_claim"> {% endif %}
        {% for i in range(context.claim.claim_metadata[args.claim_type].number_of_cathegories) %}
        <div>
            <label for="cathegory" class="form-label">Категория {{i+1}}:</label>
            <select name = "cathegory">
                {% for t in context.claim.claim_metadata[args.claim_type].possible_cathegories[i] %}
                <option value="{{ t }}"
                    {% if 'edit_claim' in args and loop.index<=cathegories|length and t==cathegories[loop.index-1] %} 
                        selected="selected" 
                    {% endif %}> 
                    {{ t }}  
                </option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <div>
            <label for="claimer" class="form-label">Заявитель:</label>
            <select name = "claimer">
                {% for p in context.family.persons.values() %}
                <option value="{{ p['person.id'] }}"
                    {% if 'edit_claim' in args and p['person.id']==context.claim.claim['claim.person_id'] %} 
                        selected="selected" 
                    {% endif %}> 
                    {{ p['person.lastname'] }} {{ p['person.firstname'] }} {{ p['person.secondname'] }} ({{ p['person.birthdate'] }}  )  
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="date_time" class="form-label">Дата и время:</label>
            <input type="datetime-local"  name="date_time" value = "{% if 'edit_claim' in args %}{{ context.claim.claim['claim.date_time'] }}{% endif %}">
        </div>
        {% if 'edit_claim' in args %}
        <div>
            <div>
                <label for="response" class="form-label">Ответ:</label>
                <select name = "response">
                    {% for p in context.claim.claim_responses.values() %}
                    <option value="{{ p['claim_response.id'] }}"
                        {% if p['claim_response.id']==context.claim.claim['claim.response_id'] %} 
                            selected="selected" 
                        {% endif %}> 
                        {{ p['claim_response.name'] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        <div><label for="comment" class="form-label">Комментарий:</label> </div>
        <div><textarea name = "comment" rows = 2 cols="100">{% if 'edit_claim' in args %}{{ context.claim.claim['claim.comment'] }}{% endif %}</textarea></div>
    <input type="submit"></button>
    </form>
    {% if 'edit_claim' in args %}
    <div>
        Ответный документ: 
        {% if context.claim.claim['claim.response_document_id']!=0 %}  
        <a href="/editor?edit_document={{ context.claim.claim['claim.response_document_id'] }}">
        {{context.claim.claim['document_type.name']}} {{context.claim.claim['document.name']}} 
        {{context.claim.claim['document.series']}} {{context.claim.claim['document.number']}}
        </a>
        <form method="post" class="btn_form" action="?edit_family={{args.edit_family}}&edit_claim={{args.edit_claim}}&claim_type={{args.claim_type}}&delete_response">
            <input type="hidden"  name="action" value="delete_response" />    
            <input type="submit" value = "Удалить"></button>
        </form>
        {% else %}
        Не найден
        <input type="button" value="Добавить существующий документ" onclick="location.href='?edit_family={{args.edit_family}}&edit_claim={{args.edit_claim}}&claim_type={{args.claim_type}}&add_document';"> 
        <input type="button" value="Добавить новый документ" onclick="location.href='?edit_family={{args.edit_family}}&edit_claim={{args.edit_claim}}&claim_type={{args.claim_type}}&create_document';">
        {% endif %}
    </div>
    {% endif %}

    {% endif %}
</div>
{% endif %}
{# КОНЕЦ РЕДАКТОРА КЛАЙМОВ #}

{# ДОБАВЛЯТЕЛЬ ДОКУМЕНТОВ #}

{% if 'add_document' in args %} 

    {% set ref = 'edit_family='+args.edit_family|string if 'edit_family' in args else "" %}
    {% set ref = ref + '&edit_claim='+args.edit_claim|string + '&claim_type='+args.claim_type|string if 'edit_claim' in args else ref + "" %}
    {% set ref = ref + '&edit_person='+args.edit_person|string if 'edit_person' in args else ref + "" %}
    {% set ref = ref + '&edit_house='+args.edit_house|string if 'edit_house' in args else ref + "" %}

    <input type="button" value="Закрыть" onclick="location.href='?{{ ref }}';"> 

    <table width="100%">
        {% for document in context.document.all_documents.values() %}
        
        {% set document_id = document['document.id'] %}
        <tr>
                <td>
                <input type="button" value="Открыть" onclick="location.href='/editor?edit_document={{document_id|string}}';"> 
                
                <form method="post" class="btn_form" action="?{{ ref }}&add_document={{document_id}}">
                    <input type="hidden"  name="action" value="add_document" />    
                    <input type="submit" value = "Выбрать"></button>
                </form>

            </td>
                <td> {{loop.index}} </td>
                {% for item in ['document_type.name', 'document.name', 'document.series', 'document.number', 'document.issuer', 'document.issue_date'] %}
                        <td> {{document[item]}} </td>
                {% endfor %}
        </tr>
        {% endfor %}
    </table>


{% endif %}
{# КОНЕЦ ДОБАВЛЯТЕЛЬ ДОКУМЕНТОВ #}


{# РЕДАКТОР ДОКУМЕНТОВ #}
{% if "edit_document" in args or "create_document" in args %}
<div class="edit_box">
    <h1> Документ </h1>
    {% set document = context.document.document if 'create_document' not in args else {} %}
    {% set action = 'create_document' if 'create_document' in args else "edit_document" %}
    <form method="post" id="general">
        <input type="hidden"  name="action" value="{{action}}" />    
        <div>
            <label for="type_id" class="form-label">Тип документа:</label>
            <select name = "type_id">
                {% for t in context.document.document_types.values() %}
                <option value="{{ t['document_type.id'] }}" 
                    {% if 'create_document' not in args and t['document_type.id']==document['document.type_id'] %} 
                        selected="selected" 
                    {% endif %}> 
                    {{ t['document_type.name'] }}  
                </option>
                {% endfor %}
            </select>
        </div>
         <div>
        <label for="lastname" class="form-label">Наименование:</label>
        <input type="text"  name="name" value = "{{ document['document.name'] }}">

        <label for="series" class="form-label">Серия:</label>
        <input type="text"  name="series" value = "{{ document['document.series'] }}">

        <label for="number" class="form-label">Номер:</label>
        <input type="text"  name="number"  value = "{{ document['document.number'] }}">
        </div>
        <div><label for="issuer" class="form-label">Выдан:</label></div>
        <div><textarea name = "issuer" rows = 2 cols = 100>{{ document['document.issuer'] }}</textarea> </div>
        <div>
            <label for="issue_date" class="form-label">Дата выдачи:</label> 
            <input type="date"  name="issue_date" value = "{{ document['document.issue_date'] }}">
        </div>
        <div><label for="comment" class="form-label">Комментарий:</label> </div>
        <div><textarea name = "comment" rows = 2 cols = 100>{{ document['document.comment'] }}</textarea></div>
        <div><label for="attributes" class="form-label">Атрибуты:</label> </div>
        <div><textarea name = "attributes" rows = 2 cols = 100>{{ document['document.attributes'] }}</textarea> </div>
        <input type="submit"></button>
    </form>
</div>
{% endif %}
{# КОНЕЦ РЕДАКТОР ДОКУМЕНТОВ #}


{% endblock %}
