{% extends 'base.html' %}

{% block title %}Семья{% endblock %}

{% block content %}

{% set family_context = context %}

{% set family_id = 0 if flags.family=='create_family' else family_context.family['family_type.id']%}

<form method="post" id="general">
    <input type="hidden"  name="action" value="{{ flags.family }}" />
    <input type="hidden"  name="{{ flags.family }}" value=" {{ family_id }}" />
    <label for="type_id" class="form-label">Тип Семьи:</label>
    <select name = "type_id">
            {% for t in family_context.family_types %}
            <option value="{{ t['family_type.id'] }}" 
                {% if flags.family!="create_family" and t['family_type.id']==family_context.family['family.type_id'] %} 
                selected="selected" 
                {% endif %}> 
                {{ t['family_type.name'] }}  
            </option>
            {% endfor %}
    </select>
    <input type="submit"></button>
</form>

{% if flags.family != 'create_family' %}

<h1> Члены группы заявителей </h1>

{{ person_list(flags=['fam_edit', 'details'], persons=family_context.persons) }}



{% if flags.family == "edit_family" %}
<input type="button" value="Добавить существующую персону" onclick="location.href='?person_action=add_person_to_family';"> 
<input type="button" value="Добавить новую персону" onclick="location.href='?person_action=create_person';">
{% endif %}

{% if flags.person == "add_person_to_family" %}
<input type="button" value="Отмена" onclick="location.href='?';"> 

{{ person_list(flags=['details', 'choose'], persons=family_context.all_persons) }}

{% endif %}

{% if flags.person == "create_person" %}
<input type="button" value="Отмена" onclick="location.href='?';"> 

{{ edit_person(flags) }}

{% endif %}


{% if flags.person == "edit_person" %}
<input type="button" value="Отмена" onclick="location.href='?';"> 

{{ edit_person(flags, family_context.person_context.person, family_context.person_context) }}

{% endif %}

{% endif %}

{% endblock %}
