{% extends 'base.html' %}

{% block title %}Жилые помещения{% endblock %}

{% block bar %}
<div>
    <details>
        <summary>Меню</summary>
        <ul>
            <li><a href = "/editor?create_house"> Создать новое ж/п </a> </li>
        </ul>
    </details>
</div>
<div>
    <details>
        <summary>Фильтр</summary>
        <form method="get">
            {% for status in status_types.values() %}
            <p>
            {{ status['house_status_type.name'] }}
            </p>
            <p>
                <input type="radio" value="1" name="{{ status['house_status_type.name'] }}"/>Да
                <input type="radio" value="-1" name="{{ status['house_status_type.name'] }}"/>Нет
                <input type="radio" value="0" checked name="{{ status['house_status_type.name'] }}"/>Н/в
            </p>
            {% endfor %}
            <button type="submit">Отправить</button>
        </form>
    </details>
    </div>
    
{% endblock %}

{% block content %}

<div>
{{ house_list(houses) }}
</div>
{% endblock %}
