{% extends 'base.html' %}

{% block title %}Persons{% endblock %}

{% block content %}

<script type="text/babel">

    const rootNode = document.getElementById("app");    // элемент для рендеринга приложения React
    // получаем корневой элемент 
    const root = ReactDOM.createRoot(rootNode);

    const p = new Promise(function(resolve, reject){
        return resolve(make_request("get_persons"));
    }).then(persons => {
        root.render(
            <div>
                <NavBar name={"Персоны"}/>
                <PersonTable persons={persons}/> 
            </div>
        );
    })
</script>

{% endblock %}
